* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  text-decoration: none;
}

.logo {
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  font-size: 27px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 40px;
  }
}

.logo__svg {
  width: 27px;
  display: inline-block;
  height: auto;
}
@media screen and (min-width: 768px) {
  .logo__svg {
    width: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__svg {
    width: 40px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;
  outline: solid red;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  position: absolute;
  top: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0941176471);
}

.container__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .container__about {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 66px;
    z-index: 1;
    position: absolute;
    right: -13%;
    top: -12%;
    -webkit-box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
            box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
    background-color: #fff;
    padding: 55px 165px 55px 60px;
  }
}

.about__text {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 29px;
  color: rgba(77, 83, 60, 0.8980392157);
  margin-top: 244px;
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 14px;
  }
}

.about__title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 35px;
  color: #4d533c;
  width: 430px;
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    width: 475px;
  }
}

.about__p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 42px;
  color: rgba(33, 56, 66, 0.6);
  width: 430px;
}
@media screen and (min-width: 1200px) {
  .about__p {
    font-size: 16px;
    width: 475px;
  }
}

.about__link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-decoration: underline;
  color: #d4d6d4;
  width: 160px;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .about__link {
    font-size: 16px;
    width: 181px;
  }
}

.about__left {
  max-width: 475px;
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 20px 0;
}
@media screen and (min-width: 1200px) {
  .about__right {
    display: block;
    width: 474px;
    padding: 244px 40px 60px;
    -webkit-box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.1450980392);
            box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.1450980392);
  }
}

.about__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .about__author {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
  }
}

.about__quote {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  color: #4d533c;
  line-height: 1.6;
  font-style: italic;
}
@media screen and (min-width: 1200px) {
  .about__quote {
    margin-bottom: 60px;
  }
}

.about__author__img {
  display: inline-block;
  -webkit-box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.about__author__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 6px;
  color: #4d533c;
  width: 220px;
}

.about__author__text {
  font-family: "Poppins", sans-serif;
  color: #152934;
  font-weight: 400;
  font-size: 12px;
  width: 180px;
}

.about__next {
  background-image: url(./../images/aboutnextimage.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 735px 550px;
  width: 1440px;
  margin: 0 auto;
  padding: 80px 0 137px;
  position: relative;
}

.about__next__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #4d533c;
  width: 300px;
  margin-top: 150px;
}
@media screen and (min-width: 1200px) {
  .about__next__title {
    font-size: 36px;
    width: 325px;
  }
}

.about__next__wrap {
  width: 475px;
  margin-left: auto;
}

.about__title__new {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #4d533c;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .about__title__new {
    font-size: 36px;
  }
}

.about__text__new {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 1.6;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .about__text__new {
    font-size: 16px;
    margin-bottom: 90px;
  }
}

.about__link__new {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #d4d6d4;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .about__link__new {
    font-size: 16px;
  }
}

.about__new__ml {
  width: 453px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
          box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
  position: absolute;
  top: 372px;
  left: 322px;
  padding: 30px 33px 24px 30px;
}

.about__new__quote {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  color: #4d533c;
  margin-bottom: 24px;
}

.about__new__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.about__newauthor__img {
  display: inline-block;
  -webkit-box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.about__nextnewauthor__img {
  display: inline-block;
  -webkit-box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.about__author__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 142px;
  color: #4d533c;
  margin-bottom: 4px;
}

.about__author__text {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #152934;
  width: 161px;
}

.about__new {
  background-image: url(./../images/aboutnew.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 735px 550px;
  width: 1440px;
  margin: 0 auto;
  padding: 80px 0 80px;
  position: relative;
}

.about__new__mr {
  width: 453px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
          box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
  position: absolute;
  top: 470px;
  right: 322px;
  padding: 30px 33px 24px 30px;
  margin-bottom: 180px;
}

.about__nextnew__quote {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  color: #4d533c;
  margin-bottom: 24px;
}

.about__nextnew__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.about__new__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: rgb(77, 83, 60);
  width: 100%;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .about__new__title {
    font-size: 36px;
    width: 475px;
  }
}

.about__new__text {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 1.6;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .about__new__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .about__new__text {
    font-size: 16px;
  }
}

.about__new__link {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #d4d6d4;
  text-decoration: underline;
  margin-bottom: 207px;
}
@media screen and (min-width: 768px) {
  .about__new__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .about__new__link {
    font-size: 16px;
  }
}

.about__newnext {
  background-image: url(./../images/newnext.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 735px 550px;
  width: 1440px;
  margin: 0 auto;
  padding: 80px 0 137px;
  position: relative;
}

.about__newnext__wrap {
  width: 475px;
  margin-left: auto;
}

.about__newtitle__new {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #4d533c;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .about__newtitle__new {
    font-size: 36px;
  }
}

.about__newtext__new {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 1.6;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .about__newtext__new {
    font-size: 16px;
    margin-bottom: 90px;
  }
}

.about__newlink__newnext {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #d4d6d4;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .about__newlink__newnext {
    font-size: 16px;
  }
}

.about__new__mp {
  width: 453px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
          box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
  position: absolute;
  top: 372px;
  left: 322px;
  padding: 30px 33px 24px 30px;
}

.about__newnext__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.about__newnext__quote {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  color: #4d533c;
  margin-bottom: 24px;
}

.about__new__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.about__newnextauthor__img {
  display: inline-block;
  -webkit-box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.about__author__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 142px;
  color: #4d533c;
  margin-bottom: 4px;
}

.about__author__text {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #152934;
  width: 161px;
}

.additional {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0941176471);
}

.additional__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-top: 149px;
  color: rgb(77, 83, 60);
  text-align: center;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .additional__title {
    font-size: 34px;
  }
}

.hero {
  background-image: url(./../images/hero_image.png);
  padding-top: 108px;
  padding-bottom: 95px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

.hero__text__wrap {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .hero__text__wrap {
    width: 50%;
  }
}

.hero__text {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 22px;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 14px;
    width: 100px;
  }
}

.hero__title {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 60px;
  }
}

.hero__p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .hero__p {
    font-size: 16px;
  }
}

.hero_link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-decoration: underline;
  color: #ffd723;
  width: 135px;
}
@media screen and (min-width: 768px) {
  .hero_link {
    font-family: 16px;
    width: 114px;
  }
}