.about {
  background-color: #ffffff;
  border-bottom: 1px solid #21384218;
}
.container__about {
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.about__list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 66px;
    z-index: 1;
    position: absolute;
    right: -13%;
    top: -12%;
    box-shadow: 50px 50px 100px 0px #00000025;
    background-color: #fff;
    padding: 55px 165px 55px 60px;
  }
}

.about__text {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 29px;
  color: #4d533ce5;
  margin-top: 244px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.about__title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 35px;
  color: #4d533c;
  width: 430px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    width: 475px;
  }
}

.about__p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 42px;
  color: #21384299;
  width: 430px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    width: 475px;
  }
}

.about__link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-decoration: underline;
  color: #d4d6d4;
  width: 160px;
  text-decoration: underline;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    width: 181px;
  }
}

.about__left {
  max-width: 475px;
}

.about__right {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  //   @media screen and (min-width: 768px) {
  //       width: ;
  //     }
  @media screen and (min-width: 1200px) {
    display: block;
    width: 474px;
    padding: 244px 40px 60px;
    box-shadow: 0px 100px 100px 0px #00000025;
  }
}

.about__author {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    align-items: center;
    flex-direction: row;
    gap: 15px;
  }
}

.about__quote {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  color: #4d533c;
  line-height: 1.6;
  font-style: italic;

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.about__author__img {
  display: inline-block;
  box-shadow: 20px 25px 43px 0px #0000002e;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.about__author__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 6px;
  color: #4d533c;
  width: 220px;
}

.about__author__text {
  font-family: "Poppins", sans-serif;
  color: #152934;
  font-weight: 400;
  font-size: 12px;
  width: 180px;
}

.about__next {
  background-image: url(./../images/aboutnextimage.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 735px 550px;
  width: 1440px;
  margin: 0 auto;
  padding: 80px 0 137px;
  position: relative;
}

.about__next__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #4d533c;
  width: 300px;
  margin-top: 150px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    width: 325px;
  }
}

.about__next__wrap {
  width: 475px;
  margin-left: auto;
}

.about__title__new {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #4d533c;
  margin-bottom: 24px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.about__text__new {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 1.6;
  color: #21384299;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 90px;
  }
}

.about__link__new {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #d4d6d4;
  text-decoration: underline;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__new__ml {
  width: 453px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 50px 50px 100px 0px #00000025;
  position: absolute;
  top: 372px;
  left: 322px;
  padding: 30px 33px 24px 30px;
}

.about__new__quote {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  color: #4d533c;
  margin-bottom: 24px;
}

.about__new__author {
  display: flex;
  gap: 14px;
}

.about__newauthor__img {
  display: inline-block;
  box-shadow: 20px 25px 43px 0px #0000002e;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.about__nextnewauthor__img {
  display: inline-block;
  box-shadow: 20px 25px 43px 0px #0000002e;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.about__author__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 142px;
  color: #4d533c;
  margin-bottom: 4px;
}

.about__author__text {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #152934;
  width: 161px;
}

.about__new {
  background-image: url(./../images/aboutnew.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 735px 550px;
  width: 1440px;
  margin: 0 auto;
  padding: 80px 0 80px;
  position: relative;
}

.about__new__mr {
  width: 453px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 50px 50px 100px 0px #00000025;
  position: absolute;
  top: 470px;
  right: 322px;
  padding: 30px 33px 24px 30px;
  margin-bottom: 180px;
}

.about__nextnew__quote {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  color: #4d533c;
  margin-bottom: 24px;
}

.about__nextnew__author {
  display: flex;
  gap: 14px;
}

.about__new__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: rgba(77, 83, 60, 1);
  width: 100%;
  margin-bottom: 24px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    width: 475px;
  }
}

.about__new__text {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 1.6;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 90px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__new__link {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #d4d6d4;
  text-decoration: underline;
  margin-bottom: 207px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__newnext {
  background-image: url(./../images/newnext.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 735px 550px;
  width: 1440px;
  margin: 0 auto;
  padding: 80px 0 137px;
  position: relative;
}

.about__newnext__wrap {
  width: 475px;
  margin-left: auto;
}

.about__newtitle__new {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #4d533c;
  margin-bottom: 24px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.about__newtext__new {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 1.6;
  color: #21384299;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 90px;
  }
}

.about__newlink__newnext {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #d4d6d4;
  text-decoration: underline;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__new__mp {
  width: 453px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 50px 50px 100px 0px #00000025;
  position: absolute;
  top: 372px;
  left: 322px;
  padding: 30px 33px 24px 30px;
}

.about__newnext__author {
  display: flex;
  gap: 14px;
}

.about__newnext__quote {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  color: #4d533c;
  margin-bottom: 24px;
}

.about__new__author {
  display: flex;
  gap: 14px;
}

.about__newnextauthor__img {
  display: inline-block;
  box-shadow: 20px 25px 43px 0px #0000002e;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.about__author__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 142px;
  color: #4d533c;
  margin-bottom: 4px;
}

.about__author__text {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #152934;
  width: 161px;
}
