.additional {
  background-color: #ffffff;
  border-bottom: 1px solid #21384218;
}

.additional__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-top: 149px;
  color: rgba(77, 83, 60, 1);
  text-align: left;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
}

.additional__list {
  display: flex;
  flex-direction: column;
  gap: 61px;
  align-items: center;
  margin-bottom: 322px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.additional__title__name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: rgba(77, 83, 60, 1);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

.additional__text {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 1.8;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 56px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.additional__link {
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: rgba(212, 214, 212, 1);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.additional__link:hover {
  color: rgba(255, 215, 35, 1);
}
