.additional {
  background-color: #ffffff;
  border-bottom: 1px solid #21384218;
}

.additional__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-top: 149px;
  color: rgba(77, 83, 60, 1);
  text-align: center;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  display: flex;

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
}
