

.footer {
  background-image: url(../../images/footerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 310px;
}

.contact__list {
  display: flex;
  flex-direction: row;
  gap: 144px;
 
}

.contact__title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.5;
  color: rgba(182, 193, 151, 1);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact__text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.5;
  color: rgba(255, 255, 255, 1);
  gap: 128px;
  margin-bottom: 52px;

  @media screen and (min-width: 768px) {
    font-weight: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 16px;
  }
}

.footer__list {
  display: flex;
  flex-direction: row;
}

.footer__item {
  justify-content: space-between;
}

.footer__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 2.3;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 21px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.footer__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5;
  color: rgba(182, 193, 151, 1);
  width: 159px;
  margin-bottom: 23px;
}

.footer__mail__text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

.footer__svg__list {
  display: flex;
  gap: 10px;
}

.footer__svg__link {
  fill: rgba(94, 102, 72, 1);
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(68, 74, 52, 1);
  display: block;
}

.footer__svg__icon {
  width: 25px;
  height: 25px;
}

.footer__svg__link:hover {
  background-color: rgba(255, 215, 35, 1);
  fill: #fff;
}
