.hero {
  background-image: url(./../images/hero_image.png);
  padding-top: 108px;
  padding-bottom: 95px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
.hero__text__wrap {
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}
.hero__text {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 22px;
  width: 150px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    width: 100px;
  }
}

.hero__title {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 60px;
  }
}

.hero__p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 45px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.hero_link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-decoration: underline;
  color: #ffd723;
  width: 135px;

  @media screen and (min-width: 768px) {
    font-family: 16px;
    width: 114px;
  }
}
